* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,p {
    margin: 0;
}

 h5 {
    color: #79C8C7;
    text-align: center;
    margin-top: 15px;
    font-size: 19px;
 }

 p {
    color: #fff;
    margin-top: 9px;
    text-align: center;
    font-size: 12px;
 }

 

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

button {
    color: black;
    border: 1px solid #F67E7E;
    background-color: #F67E7E;
    border-radius: 50%;
    width: 54px;
    height: 53px;
    font-size: 33px;
    margin-left: 39.5%;
    padding-bottom: 5px;
    margin-top: 57px;
}

.big-boss {
    background-color: #014E56;
    height: 150vh; 
}

.mini-boss h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    padding-left: 15px;
}

.box {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.boxes {
    width: 296px;
    height: 259px;
    background-color: #012F34;
    margin: 5px;
}

.box-1 img {
    max-width: 86px;
    margin-top: 23px;
    justify-content: center;
    margin-left: 99px;
}

.box-1 {
    margin-bottom: 70px;
    margin-left: 20px;
}

.all p {
    max-width: 226px;
    text-align: center;
    margin-left: 40px;
    font-size: 16px;
    line-height: 23px;
}

.all h5 {
    margin-top: 37px;
}

.all :nth-child(4) {
    margin-top: 38px;
}



.box-1:hover .boll {
    display: none;

}
 
.box-1:hover button {
    background-color: #79C8C7;
    border: 1px solid #79C8C7;
    transform: rotate(45deg);
    padding-left: 10px;
    padding-bottom: 5px;
    transition: 0.1s ease;
}

.box-1:hover .aller {
    display: inline-block;
}  


.aller {
    display: none;
}

.aller h5 {
    margin-top: 20px;
    font-size: 21px;
}

.aller p {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    font-size: 15px;
}

.opo svg {
    margin-top: 28px;
    margin-left: 20px;
}

.opo {
    margin-left: 90px;
}


